{% assign github_username = site.data.socials.github_username %}
{% assign repo_url = include.repository | split: '/' %}
{% assign data = site.data.github_repos.repos[include.repository] %}

<div class="col">
  <div class="card mb-3 hoverable">
    <div class="card-body">
      {% if github_username == repo_url[0] %}
        <a href="https://github.com/{{ include.repository }}">
          <h3 class="card-title">{{ repo_url[1] }}</h3>
        </a>
      {% else %}
        <a href="https://github.com/{{ include.repository }}">
          <h3 class="card-title">
            <span style="color: var(--global-theme-color);">{{ repo_url[0] }}</span>/{{ repo_url[1] }}
          </h3>
        </a>
      {% endif %}
      {% if data.fork %}
        <p class="card-text">
          forked from <a href="https://github.com/{{ data.parent_full_name }}">{{ data.parent_full_name }}</a>
        </p>
      {% endif %}
      <p class="card-text">{{ data.description }}</p>
      {% if data.homepage %}
        <p>
          <i class="sr-only">Link</i>
          <i class="fa-solid fa-link fa-sm"></i>
          <a href="{{ data.homepage }}" title="Homepage">{{ data.homepage }}</a>
        </p>
      {% endif %}
      {% if data.latest_release %}
        <p>
          <i class="sr-only">Latest release</i>
          <i class="fa-solid fa-tag fa-sm"></i>
          <a href="https://github.com/{{ include.repository }}/releases/{{ data.latest_release_tag }}" title="Latest release">
            {{- data.latest_release -}}
          </a>
        </p>
      {% endif %}
      {% if data.topics %}
        <p>
          {% for topic in data.topics %}
            <a href="https://github.com/topics/{{ topic }}" title="Topic: {{ topic }}" class="badge badge-primary">
              {{ topic }}
            </a>
          {% endfor %}
        </p>
      {% endif %}
      <p>
        {% if data.languages and data.languages.size > 1 %}
          <i class="sr-only">Languages</i>
          <i class="fa-solid fa-code fa-sm" title="Languages"></i>
          {% for language in data.languages limit: 3 %}
            {{ language }}
            &nbsp;
          {% endfor %}
          &nbsp;&nbsp;
        {% elsif data.main_language %}
          <span style="white-space: nowrap">
            <i class="sr-only">Language</i>
            <i class="fa-solid fa-code fa-sm" title="Language"></i>
            {{ data.main_language }}
          </span>
          &nbsp;&nbsp;
        {% endif %}
        {% if data.stargazers_count and data.stargazers_count > 0 %}
          <span style="white-space: nowrap">
            <i class="sr-only">Stars</i>
            <i class="fa-regular fa-star fa-sm" title="Stargazers count"></i>
            {{ data.stargazers_count }}
          </span>
          &nbsp;&nbsp;
        {% endif %}
        {% if data.subscribers_count and data.subscribers_count > 0 %}
          <span style="white-space: nowrap">
            <i class="sr-only">Subscribers</i>
            <i class="fa-regular fa-eye fa-sm" title="Subscribers count"></i>
            {{ data.subscribers_count }}
          </span>
          &nbsp;&nbsp;
        {% endif %}
        {% if data.forks_count and data.forks_count > 0 %}
          <span style="white-space: nowrap">
            <i class="sr-only">Forks</i>
            <i class="fa-solid fa-code-fork fa-sm" title="Forks count"></i>
            {{ data.forks_count }}
          </span>
        {% endif %}
      </p>
    </div>
  </div>
</div>
