<!doctype html>
<html lang="{{ site.lang }}">
  <!-- Head -->
  <head>
    {% if page.redirect %}
      {% if page.redirect == true %}
        {% assign redirect = site.baseurl | append: '/' %}
      {% elsif page.redirect contains '://' %}
        {% assign redirect = page.redirect %}
      {% else %}
        {% assign redirect = page.redirect | relative_url %}
      {% endif %}
      <meta http-equiv="refresh" content="3; url={{ redirect }}">
    {% endif %}
    {% include head.liquid %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    <!-- Header -->
    {% include header.liquid %}

    <!-- Content -->
    {% if page.toc and page.toc.image %}
      {% assign toc_image_path = page.toc.image | prepend: 'assets/img/' %}
      {% if page.toc.image_circular %}
        {% assign toc_image_class = 'img-fluid z-depth-1 rounded-circle' %}
      {% else %}
        {% assign toc_image_class = 'img-fluid z-depth-1 rounded' %}
      {% endif %}
    {% endif %}
    <div class="container mt-5" role="main">
      {% if page.toc and page.toc.sidebar %}
        {% if page.toc.sidebar == 'right' %}
          <div class="row">
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              {% if page.toc.image %}
                {%
                  include figure.liquid width="150px" height="auto" loading="eager" style="padding-bottom: 1em;" path=toc_image_path class=toc_image_class alt=page.toc.image
                  cache_bust=true
                %}
              {% endif %}
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
          </div>
        {% else %}
          <div class="row">
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              {% if page.toc.image %}
                {%
                  include figure.liquid width="150px" height="auto" loading="eager" style="padding-bottom: 1em;" path=toc_image_path class=toc_image_class alt=page.toc.image
                  cache_bust=true
                %}
              {% endif %}
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
          </div>
        {% endif %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>

    <!-- Footer -->
    {% include footer.liquid %}

    <!-- JavaScripts -->
    {% include scripts.liquid %}
  </body>
</html>
